:root {
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --main-text-color: #757575;
  --main-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --btn-bg-color: #f5f4fa;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--title-text-color);
}
/* logo */
.logo {
  color: #000000;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo .logo-accent {
  color: var(--accent-color);
}

/* page nav */
.list {
  list-style: none;
}

.page-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.link.active {
  color: var(--accent-color);
}

.contact-nav .link {
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero-title {
  /* добавил фон, чтоб бало видно title */
  background-color: var(--accent-color);
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  background-color: var(--accent-color);
  color: #ffffff;
  border: none;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* section Features */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Визуально спрятанная section-title */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.feature-title {
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
}

/* our team */
.team-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */
.footer {
  background-color: #2f303a;
}

.address {
  color: var(--main-bg-color);

  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.logo-rev {
  color: var(--main-bg-color);
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contact-footer .link:hover,
.contact-footer .link:focus {
  color: var(--main-bg-color);
}

/* Portfolio button list */

.btn-list .button {
  background-color: var(--btn-bg-color);
  border: none;
  cursor: pointer;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn-list .button:hover,
.btn-list .button:focus {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

/* Our works gallery */
.work-title {
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 31.9;
  letter-spacing: 0.03em;
}
