:root {
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --main-text-color: #757575;
  --main-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --btn-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--title-text-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  outline: 2px solid tomato;
}
/* logo */
.logo {
  color: #000000;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo .logo-accent {
  color: var(--accent-color);
}

/* page nav */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.link.active {
  color: var(--accent-color);
}

.contact-nav .link {
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero > .container {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  padding-left: 0;
  padding-right: 0;

  text-align: center;
  /* background-color: var(--hero-bg-color); */

  outline: 2px solid red;
}
.hero-title {
  /* добавил фон, чтоб бало видно title */
  background-color: var(--accent-color);
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*  временный outline */
  outline: 2px solid red;
}

.hero .button {
  background-color: var(--accent-color);
  color: #ffffff;

  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* section Features */
.section-title {
  margin: 0 0 50px 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.features > .container,
..works > .container {
  width: 1170px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

/* Визуально спрятанная section-title и portfolio */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.features {
  margin-bottom: 94px;
}
.feature-title {
  margin: 0 0 10px 0;
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
}

/* our team */
.team > .container {
  width: 1170px;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 215px;
  padding-right: 215px;
}
.team-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */
.footer > .container {
  width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 215px;
  background-color: #2f303a;
}

.address {
  color: var(--main-bg-color);

  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.logo-rev {
  color: var(--main-bg-color);
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contact-footer .link:hover,
.contact-footer .link:focus {
  color: var(--main-bg-color);
}

/* Portfolio button list */

.btn-list .button {
  display: inline-block;
  background-color: var(--btn-bg-color);
  height: 38px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn-list .button:hover,
.btn-list .button:focus {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

/* Our works gallery */
.work-title {
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 31.9;
  letter-spacing: 0.03em;
}

.sec {
  background-color: tomato;
  font-family: Roboto;
  color: #000000;
  font-style: normal;
}

.sec > .container {
  width: 1600px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid green;
}
